@{
    ViewData["Title"] = "Home Page";
}
@model AppDev.Models.Book
<!DOCTYPE html>
<dev style="height: 800px">
    <dev>
        <h1 style="color:#F3EDC8; text-align: center; padding-top : 120px; font-family: cursive; font-size: 70px">
        Welcome to FPT Book Online
        </h1>
    </dev>
    <dev>
        <h1 style="color:#F3EDC8; text-align: center; padding-top : 20px; font-family: cursive; font-size: 20px;width: 880px;padding-left: 280px">
        You can find and order book you want!
     </h1></dev>
</dev>