@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style="text-align: center; padding-top : 20px; font-family: cursive; font-size: 20px;width: 880px;padding-left: 280px">
    We are committed to protecting your privacy and ensuring the security of your personal information.
    When you make a purchase on our website, we collect certain personal information such as your name, address, email address, and payment details. 
    This information is used solely for the purpose of processing and fulfilling your order. 
    We do not share your personal information with third parties for marketing purposes without your explicit consent. 
    Our website also uses cookies to enhance your browsing experience and provide personalized content. 
    By using our site, you consent to the collection and use of your information as described in this Privacy Policy. 
    We take appropriate measures to safeguard your data against unauthorized access and maintain the confidentiality of your personal information. 
    If you have any concerns or questions about our privacy practices, please contact us.</p>
